.title-wrapper {
  display: flex;
  font-size: 25px;
}
.add-movie-my-list {
  width: 65%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  display: flex;
  place-content: center;
}
.recommended-title {
  width: 27.5%;
  margin-right: 2.5%;
  text-align: center;
  align-content: center;
}
.movie-list-wrapper {
  display: flex;
}
.my-list-movies {
  background-color: #3d5a80;
  width: 65%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.reccomended-movies {
  background-color: #ee6c4d;
  width: 25%;
  margin-right: 2.5%;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
